<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="./styles/pages.css">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <title>Document</title>
</head>
<body> 

    <header class="header"> 
        <h2>Ingreso de Usuarios</h2> 
        <span ><i class="bi bi-x-lg icono" id="icon"></i></span> 

        <div class="container__session" id="container-session">
            <h2>¿Desea cerrar usted session?</h2> 
  
            <div class="container__button">
              <button id="boton-yes" type="button" value="si">Si</button>
              <button id="boton-No" type="button" value="no">No</button> 
            </div>
  
  
        </div>

    </header>

    <main>   
      
        
       
        <div class="contenedor" id="contenedor"> 

            <div  class="container__pages">

         <% users.forEach(user=>{ %> 
            <div class="contenedor__pagina"> 

                <figure >
                    <img class="imagen__logeo" src="<% user.imagenes%>" alt="">
                </figure> 


                <div class="info">
                    <h2>Usuario: <%user.usuarios%></h2>
                    <h2>Nombre: <%user.nombre%></h2>
                    <h2>Apellido:<%user.apellido%></h2>
                    <label for="">escribe un post</label>
                    <textarea name="textarea" id=""></textarea>
           
                </div>

            </div>
    


        <% }) %>

            </div>

        
        </div>

    </main> 



</body>
</html>